[Unit]
Description=Task Tracker using PostgreSQL Database

[Service]
Type=simple
User=task_tracker2
Group=task_tracker2
Restart=on-failure
Environment=MIX_ENV=prod "PORT=3829"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/task_tracker2/task-tracker
ExecStart=/home/task_tracker2/task-tracker/start.sh

[Install]
WantedBy=multi-user.target
