<h1>Show Product</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @product.desc %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @product.price %>
  </li>

  <li>
    <strong>Inventory:</strong>
    <%= @product.inventory %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.product_path(@conn, :edit, @product) %></span>
<span><%= link "Back", to: Routes.product_path(@conn, :index) %></span>
